.upper-part {
  margin: 60px auto;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
#contact {
  font-size: 48px;
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
#about-me {
  font-size: 96px;
}
.box {
  display: flex;
  justify-content: center;
}
.box a {
  margin: 20px;
  padding: 20px;
}
.button-1,
.button-2 {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  margin: 20px 20px;
}
.button-1 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 5px 5px 5px gray;
}
.button-2 {
  color: var(--primary-color);
}
:root {
  --primary-color: deeppink;
  --secondary-color: aqua;
  --box-shadow: 5px 5px 5px gray;
}
.heading {
  text-align: center;
  font-size: 24px;
  opacity: 0.7;
}
.mail-link {
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 28px;
}
.box-shadow {
}
h4,
h5,
h6 {
  font-size: 48px;
  margin-bottom: 1;
}
h2 {
  font-size: 48px;
}
.primary-link {
  padding: 20px 15px;
  margin-top: 15;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
.center {
  text-align: center;
}
@media (max-width: 576px) {
  h4,
  h5,
  h6 {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
  }
  p {
    text-align: center;
  }
  .project-link {
    display: flex;
    justify-content: center;
  }
  h4 {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .center {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin: 5px;
  }
  .heading {
    font-size: 24px;
  }
  #about-me {
    font-size: 48px;
  }
}
